<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <header class="header">
            <i id="menu-icon" class="fa fa-bars" aria-label="Open Menu"></i>
            <h1>Travel App</h1>
            <i id="search-icon" class="fa fa-search" aria-label="Search Text in Bogs"></i>
        </header>
        <div class="travel-content">
           <div class="travel-input">
                <h3>Enter Source</h3>
                <input id="long-text-input" type="text" />
                <h3>Enter Destination</h3>
                <input id="long-text-input" type="text" />
                <h3>Enter Date of Leaving Place</h3>
                <input id="long-text-input" type="text" />
                <button> <h3>Submit</h3></button>
           </div>
           <div class="travel-list">

           </div>

        </div>
        <footer class="footer">
            <h3>Travel Template Built by&nbsp;<a target="_blank"
                    href="https://in.linkedin.com/in/sparsh-jain-0b183ba6">Tom Hanks</a></h3>
            <div class="footer-icon-container">
                <i id="footer-icon" class="fa fa-linkedin" aria-label="linked icon"></i>
                <i id="footer-icon" class="fa fa-instagram" aria-label="instagram icon"></i>
                <i id="footer-icon" class="fa fa-twitter" aria-label="twitter icon"></i>
                <i id="footer-icon" class="fa fa-whatsapp" aria-label="whatsapp icon"></i>
            </div>
        </footer>
    </div>
</body>

</html>