<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <header class="header">
            <i id="menu-icon" class="fa fa-bars" aria-label="Open Menu"></i>
            <h1>Travel App</h1>
            <i id="search-icon" class="fa fa-search" aria-label="Search Text in Bogs"></i>
        </header>

        <div class="content responsive">
            <div class="input-form">
                <div class="form-parent">
                    <h3>Enter Source</h3>
                    <input placeholder="Travelling from" id="long-text-input" type="text" />
                    <h3>Enter Destination</h3>
                    <input placeholder="Jaipur, Delhi, Goa..." id="long-text-input" type="text" />
                    <h3>Enter Date of Leaving Place</h3>
                    <input type="date" id="long-text-input" type="text" />
                    <input id="submit" type="submit" />
                </div>

            </div>
            <div class="travel-list">Enter Form to display Travel Destination</div>
        </div>

         <div class="tnc">
            <h3>Terms and Conditions </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

        <div class="lp">
            <h3>Luggage Policy </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div> 


        <footer class="footer">
            <h3>@Travel Template Built by&nbsp;<a target="_blank"
                    href="https://in.linkedin.com/in/sparsh-jain-0b183ba6">Tom Hanks</a></h3>
            <div class="footer-icon-container">
                <i id="footer-icon" class="fa fa-linkedin" aria-label="linked icon"></i>
                <i id="footer-icon" class="fa fa-instagram" aria-label="instagram icon"></i>
                <i id="footer-icon" class="fa fa-twitter" aria-label="twitter icon"></i>
                <i id="footer-icon" class="fa fa-whatsapp" aria-label="whatsapp icon"></i>
            </div>
        </footer>
    </div>
</body>

</html>