
input[type=text] {
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: 0.5px solid;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
  
  }
  
  input[type=date] {
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: 0.5px solid;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #999;
  }
  
  input[type=submit] {
    height: 35px;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 200px;
    background-color: #3b5998;
    color: white;
    align-self: center;
    cursor: pointer;
  }
  
  .error {
    color: #E53935;
    font-size: 0.9em;
    display: inline;
    min-height: 40px;
    margin:0px
  }