/* Media Query for the Blog Grid */
@media (min-width: 0px) and (max-width: 647px) {
  .responsive {
    grid-template-areas:
    "if" "tl"
  }
}
@media (min-width: 647px) and (max-width: 1120px) {
  .responsive {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "if if if tl tl tl tl";
  }
}

@media (min-width: 1120px) and (max-width: 1925px) {
  .responsive {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "if if tl tl tl tl tl";
  }
}
