

/*-----id selectors for icon as it has higher precedence over class selector-----*/
#search-icon {
    font-size: 1.5em;
    cursor: pointer;
}

#menu-icon {
    font-size: 1.5em;
    cursor: pointer;
}

#footer-icon {
    font-size: 1.5em;
    padding-right: 10px;
    border-radius: 100px;
    border: #fff solid 1px;
    padding: 10px;
    margin-right: 10px;
}
