

/*-----id selectors for icon as it has higher precedence over class selector-----*/
#search-icon {
    font-size: 1.5em;
    cursor: pointer;
}

#forward-icon {
    text-decoration: none;
    font-size: 1.5em;
}

#menu-icon {
    font-size: 1.5em;
    cursor: pointer;
}

#back-icon {
    font-size: 2.0em;
    color: #fff;
}

#footer-icon {
    font-size: 1.5em;
    padding-right: 10px;
    border-radius: 100px;
    border: #fff solid 1px;
    padding: 10px;
    margin-right: 10px;
}

#forward-icon {
    color: #3b5998;
    font-size: 2.0em;
}