
/*-----element selector-----*/

.container {
    display: grid;
    grid-template-rows: 100px 1fr 150px ;
    height:100%;
}

.container .header {
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    padding: 0px 20px 0px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

.container .footer {
    margin-top: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .footer-icon-container {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

.footer a{
    color: #fff
}

