
/*-----element selector-----*/
html {
    height: 100%;
}
body {
    font-size: 14px;
    margin:0px;
    height:100%;
    background-color: #3b5998;
    font-family: Open Sans,sans-serif ;
}

a {
    color: #1976D2;
}

h1 {
    font-size: 2.0em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.1em;
    margin: 5px 0px 5px 0px;
    padding: 0;
    font-weight: 100;
}

h4 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

p {
    color: #616161;
    font-size: 1.2em;
    line-height: 30px;
    font-weight: 300;
}
