@import url(./content-mq.scss);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(./global/fa-global-icons.scss);
@import url(./global/global-elements.scss);
@import url(./content.scss);



body {
  font-size: 14px;
  // margin:0px;
  background-color: #3b5998;
  font-family: Open Sans, sans-serif;
}

.container {
  display: grid;
  grid-template-areas: "hd" "cn" "tnc" "lp" "ft";
  margin: 10px;
}

.tnc {
    grid-area: tnc;
    background-color: white;
    border-radius: 20px;
    color: #3b5998;
    padding:20px;
    margin-top: 20px;
}
.lp {
    grid-area: lp;
    background-color: white;
    border-radius: 20px;
    color: #3b5998;
    padding:20px;
    margin-top: 20px;
}
.header {
  grid-area: hd;
  color: #fff;
  // margin-bottom: 10px;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .footer {
  margin-top: 10px;
  color: #fff;
  grid-area: ft;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .footer-icon-container {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  flex-direction: row;
}

.footer a {
  color: #fff;
}

