@import url(./container-mq.scss);

* {
    border: solid 1px black
}



.header {
    grid-area: hd;
}


.input-form {
    grid-area: if;
}

.travel-list {
    grid-area: tl;
}

.footer {
    grid-area: ft
}